<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.percorsoculturale">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PercorsoCulturale"
        tools:targetApi="31">
        <activity
            android:name=".RicercaPercorsiActivity"
            android:exported="false"
            android:label="@string/title_activity_ricerca_percorsi"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar"
            />
        <activity
            android:name=".RecuperaPassword"
            android:exported="false"
            android:label="@string/title_activity_ricerca_percorsi"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar"
            />
        <activity
            android:name=".ModificaProfilo"
            android:exported="false"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar"
            />
        <activity
            android:name=".EliminaProfilo"
            android:exported="false"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar"
            />
        <activity
            android:name=".MostraPercorsiActivity"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "app://percorsoculturale” -->
                <data android:scheme="https" android:host="www.percorsoculturale.com"/>
                <data android:scheme="http" android:host="www.percorsoculturale.com"/>
                <data android:scheme="app" android:host="www.percorsoculturale.com"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MostraAttrazioni"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="Mostra Attrazione"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar" />
        <activity
            android:name=".ValutazionePercorsoUtente"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="Mostra Attrazione"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityTutorial"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:label="Tutorial"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar"/>
        <activity android:name=".QrcodeActivity"
            android:exported="true"/>
        <activity
            android:name=".IscrivitiActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:label="Iscriviti activity"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar" />

        <activity
            android:name=".BadgeActivity"
            android:exported="false"
            android:label="Iscriviti activity"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar" />

        <activity
            android:name=".ListaBadge"
            android:exported="false"
            android:label="Iscriviti activity"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar" />

        <activity
            android:name=".ProfiloActivity"
            android:exported="true"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar" />
        <activity
            android:name=".DialogMessage"
            android:exported="true"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar" />

        <activity
            android:name=".ValutazionePercorsoActivity"
            android:exported="true"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar" />

        <activity
            android:name=".InfoBadge"
            android:exported="true"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar" />

        <activity
            android:name=".QuizActivity"
            android:exported="true"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar" />

        <activity
            android:name=".PuzzleActivity"
            android:exported="true"
            android:theme="@style/Theme.PercorsoCulturale.NoActionBar" />

        <activity android:name=".Capture"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"/>


    </application>

</manifest>